[Unit]
Description=Daemon to start vgus server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/temp_server 10.193.20.217
ExecStop=/usr/bin/temperature -k
ExecReload=/usr/bin/temp_server 10.193.20.217
RestartSec=3
Restart=on-failure

[Install]
WantedBy=multi-user.target

 

